In [4]:
n=int(input('enter the value of n:'))
st=1
for x in range(n):
    num=1
    for y in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=1

enter the value of n: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
n=int(input('enter the value of n:'))
st=n
sp=0
for x in range(n):
    num=n
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(num,end=' ')
        num-=1
    print()
    st-=1
    sp+=1

enter the value of n: 5

5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

In [8]:
n=int(input('enter the value of n:'))
st=n
sp=0
for x in range(n):
    num=st
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(num,end=' ')
        num-=1
    print()
    st-=1
    sp+=1

enter the value of n: 5

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [14]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for x in range(n):
    num=1
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=2
    sp-=1

enter the value of n: 4

      1
    1 2 3
  1 2 3 4 5
1 2 3 4 5 6 7

In [16]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for x in range(n):
    num=st
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(num,end=' ')
        num-=1
    print()
    st+=2
    sp-=1

enter the value of n: 4

      1
    3 2 1
  5 4 3 2 1
7 6 5 4 3 2 1

In [18]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for x in range(n):
    num=5
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(num,end=' ')
        num-=1
    print()
    if x<n//2:
        
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

enter the value of n: 5

    5
  5 4 3
5 4 3 2 1
  5 4 3
    5

In [24]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for x in range(n):
    num=1
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(chr(num+64),end=' ')
        num+=1
    print()
    st+=2
    sp-=1

enter the value of n: 5

        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [2]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    num=st
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print(num,end=' ')
    print()
    st+=2
    num+=1
    sp-=1

enter the value of n: 5

        1
      3 3 3
    5 5 5 5 5
  7 7 7 7 7 7 7
9 9 9 9 9 9 9 9 9

In [11]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
num=1
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(num,end=' ')
    print()
    num+=1
    sp-=1
    st+=2

enter the value of n: 5

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [7]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
num=1
for x in range(n):
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(num,end=' ')
        num+=1
    print()
    sp-=1
    st+=1

enter the value of n: 4

      1
    2 3
  4 5 6
7 8 9 10

In [16]:
#wap for given number is prime or not
n=int(input('enter the value of n:'))
if n>1:
    for x in range(2,n//2+1):
         if n%x==0:
            print(f'{n}: is not a prime number')
            break
    else:
        print(f'{n}:is a prime number') 
else:
    print(f'{n}: is not a prime number')

enter the value of n: 1

1: is not a prime number

In [ ]:
# wapfor given number is composite or not
n=int(input('enter the value of n:'))
for i in range(2,n//2+1):
    if n%i==0:
        print(f{}

In [1]:
n=int(input('enter the value of n:'))
Eres=0
Ores=0
while n!=0:
    rem=n%10
    if rem%2==0:
        Eres=Eres+rem
    else:
        Ores=Ores+rem
    n=n//10
print(f'even sum:{Eres}')
print(f'odd sum:{Ores}')

enter the value of n: 2456

even sum:12
odd sum:5

In [1]:
n=int(input('enter the value of n:'))
res=0
while n!=0:
    rem=n%10
    for x in range(2,rem//2+1):
        if rem%x==0
        break

SyntaxError: invalid syntax (2034263170.py, line 6)

## wap to add all digits in given number

In [2]:
n=int(input('enter the value of n:'))
num=n
res=0
while n!=0:
    rem=n%10
    res+=rem
    n=n//10
print(f'sum of {num} is {res}')

enter the value of n: 342

sum of 342 is 9

In [9]:
n=int(input('enter the value of n:'))
num=n
res=0
while n!=0:
    rem=n%10
    res+=rem
    n=n//10
if num%res==0:
    print(f'{num} is niven number')
else:
    print(f'{num} is not niven number')

enter the value of n: 123

123 is not niven number

In [6]:
n=int(input('enter the value of n:'))
num=n
res=1
while n!=0:
    rem=n%10
    res=rem*res
    n=n//10
print(f' of{num}={res}')

enter the value of n: 123

love of123=6

In [1]:
123%10

3

# prime number

In [ ]:
n=int(input('enter the value of n:'))
if n>1:
    for x in range(2,n//2+1):
        if n%x==0:
            print(f'{n} is not a prime number')
            break
    else:
        print(f'{n} is a prime number')
else:
    print(f'{n} is not a prime number')

In [1]:
n=int(input('enter the value of n:'))
st=n
for x in range(n):
    for y in range(st):
        print('*',end=' ')
    print()

enter the value of n: 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
n=int(input('enter the value of n:'))
st=1
for x in range(n):
    for y in range(st):
        print('*',end=' ')
    print()
    st+=1

enter the value of n: 5

*
* *
* * *
* * * *
* * * * *

In [4]:
n=int(input('enter the value of n:'))
st=n
for x in range(n):
    for y in range(st):
        print('*',end=' ')
    print()
    st-=1

enter the value of n: 5

* * * * *
* * * *
* * *
* *
*

In [6]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for x in range(n):
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print('*',end=' ')
    print()
    st+=1
    sp-=1

enter the value of n: 5

        *
      * *
    * * *
  * * * *
* * * * *

In [8]:
n=int(input('enter the value of n:'))
st=n
sp=0
for x in range(n):
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print('*',end=' ')
    print()
    st-=1
    sp+=1

enter the value of n: 5

* * * * *
  * * * *
    * * *
      * *
        *

In [9]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for x in range(n):
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print('*',end=' ')
    print()
    st+=2
    sp-=1

enter the value of n: 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [10]:
n=int(input('enter the value of n:'))
st=n*2-1
sp=0
for x in range(n):
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print('*',end=' ')
    print()
    st-=2
    sp+=1

enter the value of n: 5

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [13]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for x in range(n):
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print('*',end=' ')
    print()
    if x<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

enter the value of n: 5

    *
  * * *
* * * * *
  * * *
    *

In [15]:
n=int(input('enter the value of n:'))
st=1
sp=0
for x in range(n):
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print('*',end=' ')
    print()
    if x<n//2:
        st+=1
        sp-=1
    else:
        st-=1
        sp+=1

enter the value of n: 5

*
* *
* * *
* *
*

In [16]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for x in range(n):
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print('*',end=' ')
    print()
    if x<n//2:
        st+=1
        sp-=1
    else:
        st-=1
        sp+=1

enter the value of n: 5

    *
  * *
* * *
  * *
    *

In [20]:
n=int(input('enter the value of n:'))
st=n
for x in range(n):
    num=1
    for y in range(st):
        print(num,end=' ')
        num+=1
    print()

enter the value of n: 5

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [21]:
n=int(input('enter the value of n:'))
st=1
for x in range(n):
    num=1
    for y in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=1

enter the value of n: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [22]:
n=int(input('enter the value of n:'))
st=1
for x in range(n):
    num=5
    for y in range(st):
        print(num,end=' ')
        num-=1
    print()
    st+=1

enter the value of n: 5

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [24]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for x in range(n):
    num=1
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print(chr(num+64),end=' ')
        num+=1
    print()
    st+=2
    sp-=1

enter the value of n: 5

        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [26]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for x in range(n):
    num=5
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print(chr(num+64),end=' ')
        num-=1
    print()
    st+=1
    sp-=1

enter the value of n: 5

        E
      E D
    E D C
  E D C B
E D C B A

In [30]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for x in range(n):
    num=st
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print(num,end=' ')
        num-=1
    print()
    num+=1
    st+=1
    sp-=1

enter the value of n: 5

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [34]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for x in range(n):
    num=st
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print(num,end=' ')
        num-=1
    print()
    if x<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

enter the value of n: 7

      1
    3 2 1
  5 4 3 2 1
7 6 5 4 3 2 1
  5 4 3 2 1
    3 2 1
      1

In [35]:
n=int(input('enter the value of n:'))
st=1
for x in range(n):
    num=1
    for y in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=1

enter the value of n: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [41]:
n=int(input('enter the value of n:'))
st=5
sp=0
for x in range(n):
    num=st
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print(num,end=' ')
        num-=1
    print()
    st-=1
    sp+=1

enter the value of n: 5

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [42]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for x in range(n):
    num=5
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print(num,end=' ')
        num-=1
    print()
    if x<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

enter the value of n: 5

    5
  5 4 3
5 4 3 2 1
  5 4 3
    5

In [35]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for x in range(n):
    if x%2==0:
        num=1
    else:
        num=2
    for z in range(sp):
        print(' ',end=' ')
    for y in range(st):
        print(num,end=' ')
        if x%2==0:
            num=num+1 if y<st//2 else num-1
        else:
            num=num+2 if y<st//2 else num-2
    print()
    if x<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

enter the value of n: 7

      1
    2 4 2
  1 2 3 2 1
2 4 6 8 6 4 2
  1 2 3 2 1
    2 4 2
      1

In [11]:
3%2

1

In [39]:
n=int(input('enter the value of n:'))
for x in range(1,n+1):
    if n%x==0:
        print(x)

enter the value of n: 100

1
2
4
5
10
20
25
50
100

In [46]:
n=int(input('enter the value of n:'))
if n>1:
    for x in range(2,n//2+1):
        if n%x==0:
            print(f'{n} is not prime')
            break
    else:
        print(f'{n} is a prime')
else:
    print(f'{n} is not prime')

enter the value of n: 4

4 is not prime

#  prime number

In [5]:
n=123
if n>1:
    for x in range(2,n//2+1):
        if n%x==0:
            print('given number is not prime number')
            break
    else:
        print('given number is prime')
else:
    print('given number is not prime')

given number is not prime number

In [4]:
n=123
for x in range(1,n+1):
    if n%x==0:
        print(x)

1
3
41
123

In [14]:
n=4
fact=1
for x in range(1,n+1):
    fact=fact*x
print(fact)

24