In [1]:
n=7
st=1
for a in range(n):
    for b in range(st):
        print('*',end=' ')
    print()
    if a<n//2:
        st+=1
    else:
        st-=1

*
* *
* * *
* * * *
* * *
* *
*

In [5]:
n=5
sp=n//2
st=1
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    if a<n//2:
        st+=1
        sp-=1
    else:
        st-=1
        sp+=1

    *
  * *
* * *
  * *
    *

In [7]:
a,b,c=20,10,5
if a>b:
    if a>c:
        print('a is great')
    else:
        print('c is great')
else:
    if b>c:
        print('b is great')
    else:
        print('c is great')

a is great

In [9]:
a,b,c=2,10,5
if a>b and a>c:
    print('a is great')
elif b>c:
    print('b is great')
else:
    print('c is great')

b is great

In [12]:
year=int(input('ente the year:'))
if year%4==0 and year%100!=0:
    print(f'{year}:is a leap year')
elif year%400==0:
    print(f'{year}: is a leap year')
else:
          print(f'{year} is not a leap year')

ente the year: 2024

2024:is a leap year

In [16]:
year=int(input('ente the year:'))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print('year is a leap year')
        else:
            print('year is not aleap year')
    else:
        print('year is a leap year')
else:
    print('year is not a leap year')

ente the year: 2024

year is a leap year

In [17]:
year=int(input('ente the year:'))
if year%4==0 or (year%100!=0 and year%400==0):
    print('year is a leap year')
else:
    print('year is not a leap year')

ente the year: 2024

year is a leap year

In [18]:
n=5
st=n
for a in range(n):  
    for b in range(st):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
n=6
st=n
num=1
for a in range(n):  
    for b in range(st):
        print(num,end=' ')
    print()
    num+=1

1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6

In [38]:
n=int(input('enter the value of n:'))
st=1
for a in range(n): 
    for b in range(st):  
        print('*',end=' ')
    print()
    st+=1

enter the value of n: 5

*
* *
* * *
* * * *
* * * * *

In [43]:
n=int(input('enter the value of n:'))
st=5
for a in range(n): 
    for b in range(st):  
        print('*',end=' ')
    print()
    st-=1

enter the value of n: 5

* * * * *
* * * *
* * *
* *
*

In [45]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    st+=1
    sp-=1

enter the value of n: 5

        *
      * *
    * * *
  * * * *
* * * * *

In [46]:
n=int(input('enter the value of n:'))
st=5
sp=0
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    st-=1
    sp+=1

enter the value of n: 5

* * * * *
  * * * *
    * * *
      * *
        *

In [47]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    st+=2
    sp-=1

enter the value of n: 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [49]:
n=int(input('enter the value of n:'))
st=n*2-1
sp=0
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    st-=2
    sp+=1

enter the value of n: 5

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [55]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    if a<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

enter the value of n: 7

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [59]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    if a<n//2:
        sp-=1
        st+=1
    else:
        sp+=1
        st-=1

enter the value of n: 7

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [61]:
n=int(input('enter the value of n:'))
st=1
for a in range(n):
    for c in range(st):
        print('*',end=' ')
    print()
    if a<n//2:
        st+=1
    else:
        st-=1

enter the value of n: 7

*
* *
* * *
* * * *
* * *
* *
*

In [7]:
n=int(input('enter the value of n:'))
st=n
num=1
for a in range(n):
    for b in range(st):
        print(num,end=' ')
    print()
    num+=1

enter the value of n: 5

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [12]:
n=int(input('enter the value of n:'))
st=n
for a in range(n):
    num=1
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()

enter the value of n: 6

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [15]:
n=int(input('enter the value of n:'))
st=1
for a in range(n):
    num=1
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=1

enter the value of n: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
n=int(input('enter the value of n:'))
st=1
for a in range(n):
    num=5
    for b in range(st):
        print(num,end=' ')
        num-=1
    print()
    st+=1

enter the value of n: 5

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [18]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    num=1
    for c in range (sp):
        print(' ',end=' ')
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=2
    sp-=1

enter the value of n: 5

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [31]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    num=1
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(chr(num+64),end=' ')
        num+=1
    print()
    st+=2
    sp-=1

enter the value of n: 5

        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [35]:
n=int(input('enter the value of n:'))
sp=n-1
st=1
for a in range(n):
    num=5
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(chr(num+64),end=' ')
        num-=1
    print()
    sp-=1
    st+=1

enter the value of n: 5

        E
      E D
    E D C
  E D C B
E D C B A

In [37]:
n=int(input('enter the value of n:'))
sp=n-1
st=1
for a in range(n):
    num=st
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(num,end=' ')
        num-=1
    print()
    sp-=1
    st+=1

enter the value of n: 5

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [44]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for a in range(n):
    num=st
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(num,end=' ')
        num-=1
    print()
    if a<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

enter the value of n: 5

    1
  3 2 1
5 4 3 2 1
  3 2 1
    1

In [6]:
n=int(input('enter the value of n:'))
st=n
for a in range(n):
    num=1
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()

enter the value of n: 5

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [7]:
n=int(input('enter the value of n:'))
st=n
for a in range(n):
    num=1
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()
    st-=1

enter the value of n: 5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [10]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    num=1
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=1
    sp-=1

enter the value of n: 5

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [13]:
n=int(input('enter the value of n:'))
st=1
for a in range(n):
    num=1
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=1

enter the value of n: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
n=int(input('enter the value of n:'))
st=n
sp=0
for a in range(n):
    num=1
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()
    st-=1
    sp+=1

enter the value of n: 5

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [17]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    num=1
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print('*',end=' ')
        num+=1
    print()
    st+=2
    sp-=1

enter the value of n: 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [19]:
n=int(input('enter the value of n:'))
st=n*2-1
sp=0
for a in range(n):
    num=1
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print('*',end=' ')
        num+=1
    print()
    st-=2
    sp+=1

enter the value of n: 5

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [21]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for a in range(n):
    num=1
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print('*',end=' ')
        num+=1
    print()
    if a<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

enter the value of n: 7

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [24]:
n=int(input('enter the value of n:'))
st=1
sp=0
for a in range(n):
    num=1
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print('*',end=' ')
        num+=1
    print()
    if a<n//2:
        st+=1
    else:
        st-=1

enter the value of n: 5

*
* *
* * *
* *
*

In [25]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for a in range(n):
    num=1
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print('*',end=' ')
        num+=1
    print()
    if a<n//2:
        st+=1
        sp-=1
    else:
        st-=1
        sp+=1

enter the value of n: 5

    *
  * *
* * *
  * *
    *

In [28]:
 n=int(input('enter the value of n:'))
st=n
num=1
for a in range(n):
    for b in range(st):
        print(num,end=' ')
    print()
    num+=1

enter the value of n: 5

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [29]:
n=int(input('enter the value of n:'))
st=n
for a in range(n):
    num=1
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()

enter the value of n: 5

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [30]:
n=int(input('enter the value of n:'))
st=1
for a in range(n):
    num=1
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=1

enter the value of n: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [35]:
n=int(input('enter the value of n:'))
st=1
for a in range(n):
    num=5
    for b in range(st):
        print(num,end=' ')
        num-=1
    print()
    st+=1

enter the value of n: 5

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [36]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    num=1
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=2
    sp-=1

enter the value of n: 5

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [37]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    num=1
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print(chr(num+64),end=' ')
        num+=1
    print()
    st+=2
    sp-=1

enter the value of n: 5

        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [40]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    num=5
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print(chr(num+64),end=' ')
        num-=1
    print()
    st+=1
    sp-=1

enter the value of n: 5

        E
      E D
    E D C
  E D C B
E D C B A

In [41]:
n=int(input('enter the value of n:'))
st=1
sp=n-1
for a in range(n):
    num=st
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print(num,end=' ')
        num-=1
    print()
    st+=1
    sp-=1

enter the value of n: 5

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [46]:
n=int(input('enter the value of n:'))
st=1
sp=n//2
for a in range(n):
    num=st
    for c in range(sp):
        print(' ',end=' ')
    for b in range(st):
        print(num,end=' ')
        num-=1
    print()
    if a<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

enter the value of n: 7

      1
    3 2 1
  5 4 3 2 1
7 6 5 4 3 2 1
  5 4 3 2 1
    3 2 1
      1

In [9]:
n= int(input('enter the value of n:'))
s=n
i=0
for a in range(n):
    for b in range(i):
        print(' ',end=' ')
    for c in range(s):
        print('*',end=' ')
    print()
    if a<n//2:
        s-=2
        i+=1
    else:
        s+=2
        i-=1

enter the value of n: 9

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [4]:
7%2

1